.background {
    background: linear-gradient(to right, #209151, #40439F);
    display: flex;
    justify-content: center;
    align-items: end;
}

.website {
    background: linear-gradient(to left, black, rgba(0, 0, 0, 0.8));
    width: 90vw;
    height: 90vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 60px;
    border-bottom: 1px solid white;
}

header h2 {
    letter-spacing: 5px;
    cursor: pointer;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-left: 100px;
}

header nav ul li {
    margin-right: 30px;
    cursor: pointer;
}

.header-buttons button {
    background-color: #404042;
    padding: 7px 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    max-width: 60%;
    margin: auto;
    text-align: center;
}

.content h3 {
    color: white;
    font-size: 6rem;
    letter-spacing: 5px;
}

.content h1 {
    background-image: linear-gradient(to right, #03f357, #5b3ffc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10rem;
    letter-spacing: 5px;
}

.content p {
    color: white;
    margin: 20px 0 20px 0;
}

.content-buttons button {
    padding: 8px 30px;
    border: none;
    outline: none;
    margin-right: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.content-buttons #start {
    color: white;
    background: linear-gradient(to right, #03f357, #5b3ffc);
}

.content .img {
    position: absolute;
    bottom: -190px;
    right: 42%;
}

.content .img img {
    width: 200px;
}

.content .img #shadow {
    position: absolute;
    box-shadow: 0px -10px 500px red;
    width: 200px;
    height: 200px;
    bottom: -20px;
}

.bx-menu {
    display: none;
}

.bx-menu .bar {
    width: 20px;
    height: 2px;
    background-color: white;
    margin-bottom: 4px;
}

.menu.show {
    display: block;
}

@media (max-width: 1200px) {
    .content h3 {
        font-size: 4rem;
    }

    .content h1 {
        font-size: 8rem;
    }
}

@media (max-width: 1070px) {
    .content h3 {
        font-size: 3rem;
    }

    .content h1 {
        font-size: 6rem;
    }

    .bx-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    header nav ul {
        display: block;
        position: absolute;
        right: 0;
        top: 100px;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    .header-buttons {
        position: absolute;
        right: 0;
        top: 290px;
    }

    .header-buttons button {
        display: block;
        min-width: 90px;
        margin-top: 10px;
    }
    
    header nav ul li {
        margin-right: 30px;
        cursor: pointer;
        transition: .2s;
    }

    header nav ul li:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 790px) {
    .content h3 {
        font-size: 3rem;
    }

    .content h1 {
        font-size: 4rem;
    }

    .content p {
        font-size: .9rem;
    }

    header nav ul {
        background: linear-gradient(to bottom, #5b3ffc, #03f357);
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    header nav ul li {
        margin-right: 0px;
    }

    .header-buttons {
        background: linear-gradient(to bottom, #03f357, red);
        padding: 10px;
        width: 100%;
    }

    .header-buttons button {
        margin: 10px auto;
    }

    .content .img {
        position: absolute;
        bottom: -190px;
        right: 35%;
    }
}

@media (max-width: 560px) {
    .content h3 {
        font-size: 2rem;
    }

    .content h1 {
        font-size: 3rem;
    }

    .content p {
        font-size: .9rem;
    }

    .content {
        max-width: 80%;
    }
}